.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
body{
    font-family: 'Montserrat', sans-serif;
    background: #292d3e;
}

.image{
    margin-left: 33%;
    max-width:150px;
    height:auto;
}
.primary-color{
    color: #292d3e;
}
.center{
    text-align: center;
}
.box-center{
    margin-top: 5%;
}

.paddings{
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
}

.box-login{
    background: black !important;
    height: 100%;
}

.space-top{
    margin-top: 3em;
}
.space-top{
    margin-bottom: 3em;
}
.input{
    margin-top: 20px;
    width: 400px;
}

.input-large{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.box{
    border-radius: 10px;
    background: white;
}

.left{
    margin-left: 0px;
    padding-left: 0px;
}